@import '../foundation';


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
  }


.info-background{
    background: $indigo;
    color: $dark-white;
}
 
.map-background{
  color: $indigo;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding: 20px;
  }

.small-column{
    flex: 1;
    min-width: 250px;
}

.large-column {
    flex: 2
  }