@import '../foundation';
.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
    color: #fff;
}

.arc path {
    stroke: #fff;
}

.title {
    fill: teal;
    font-weight: bold;
}

#chart{
    text-align: center;
}

.monthArc {
    fill: white;
    stroke: #AAAAAA;
}

.dataText {
    z-index: 999;
}
.dataArc{
    z-index: -10;
}